@microbusiness:registry=http://mortezaalizadeh.no-ip.biz:4873/
@trolleysmart:registry=http://mortezaalizadeh.no-ip.biz:4873/
@fingermenu:registry=http://mortezaalizadeh.no-ip.biz:4873/
//mortezaalizadeh.no-ip.biz:4873/:_authToken=c5da3efc-38ca-4b30-8db9-4d911a5b0cec
